.container {
	width: 100%;
	margin-bottom: 70px;
	display: flex;
	justify-content: center;
	padding: 0 40px;
}

.content {
	width: 100%;
	max-width: 1400px;
}

.top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 40px;
}

.top > div:nth-child(1)h1 {
	color: #d9dbdc;
}

.top > div:nth-child(1) p {
	color: #7162b6;
}

.btn {
	background: #6366f1;
	font-size: 17px;
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
}

.list {
	display: flex;
	gap: 40px;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}

.list > .link,
.list > .nolink {
	width: 100%;
	max-width: 310px;
	background: #0a1f33;
	padding: 15px;
	border-radius: 10px;
	transition: 0.3s;
	position: relative;
	overflow: hidden;
}

.list > .link:hover {
	cursor: pointer;
	background: #6640b252;
	transform: translateY(-23px);
}

.list > .link > .image,
.list > .nolink > .image {
	background: #1d192e;
	border-radius: 10px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	width: 100%;
	aspect-ratio: 8/5;
}

.list > .link > span,
.list > .nolink > span {
	color: #6366f1;
	font-size: 15px;
	margin-bottom: 10px;
	display: block;
}

.list > .link > h2,
.list > .nolink > h2 {
	margin-bottom: 20px;
	color: #fffffff0;
}

.list > .link > p,
.list > .nolink > p {
	color: #7162b6;
}

.coming_soon {
	color: #0f483d !important;
	border-radius: 5px;
	background: #19f4ca;
	display: inline-block !important;
	padding: 5px 15px !important;
	margin: 0 !important;
	position: absolute;
	top: 0;
	transform: rotate(39deg);
}
